@CHARSET "ISO-8859-1";

/* 
Define logo colours for the whole page 
Also sets the dark one on all text
logGreen has to be specified explicitly
*/
body {
	color: #414042;
	font-family: "Arial", Sans-serif;
	background-color: white;
}

.logoGreen {
	color: #ADD136;
}

.pageHeader {
	position: absolute;
	top: 40px;
	left: 185px;
	font-size: 50px;
	white-space: nowrap;
}

div.footer {
	position: fixed;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	font-size: 10px;
}

.navigationPane {
	position: relative;
	border-left: 1px solid #414042;
}

.navigationPane td {
	vertical-align: middle;
	border-left: 5px solid #ADD136;
}

.navigationPane a {
	text-decoration: none;
	padding-left: 20px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #414042;
	padding-bottom: 10px;
}

.logo a {
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	display: inline;
}

.navigationPane a:hover {
	color: #fff;
	background-color: #ADD136;
}

.logo a:hover {
	background-color: white;
	cursor: default;
}

.menuCell td:hover,.currentPage td {
	color: #fff;
	border-left: 5px solid #414042;
}

.menuCell td {
	text-transform: uppercase;
	font-size: 14px;
}

.currentPage a {
	font-weight: bold;
}

div.mainContent {
	position: absolute;
	left: 200px;
	top: 180px;
	width: 80%;
	font-size: 14px;
	z-index: 10;
	background-color: white;
}

.mainContent p {
	padding-right: 100px;
	padding-left: 10px;
}

.mainContent a {
	text-decoration: none;
	font-weight: bold;
	color: #80A010;
}

.mainContent h1:first-child {
	margin-top: 0px;
}

.mainContent h1 {
	font-size: 14px;
	font-weight: bold;
	width: 300px;
	margin-top: 60px;
	border-bottom: 1px solid #414042;
	border-left: 3px solid #414042;
	padding-left: 5px;
}

.mainContent h2 {
	font-size: 14px;
	font-weight: bold;
	padding-left: 5px;
}

.mainContent pre {
	margin-left: 10px;
	padding: 20px 20px 20px 20px;
	width: 700px;
	background-color: #EEEEEE;
}

li {
	margin-bottom: 10px;
}

img.docsImage {
	display: block;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 5px;
	border: 1px solid #414042;
	margin-right: auto;
	width: 400px;
}