div.OntocatInput{
	padding: 0px;
	margin: 0px;
	z-index: 10;
	display: none;
	position: absolute;
	background: white;
	border: solid #999 1px;
}
.OntocatInput label{
	font-style: italic;
}

.OntocatInput select{
	overflow: auto;
}